/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
*, :after, :before {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5{
    font-family: 'SBAggroB';
}
div,button,span,p,li,a{
    font-family: 'Pretendard-Regular';
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.header{
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: opacity .3s linear;
}
.navBar button{
    font-size: 20px;
    padding: 0 1rem;
    transition: color .5s ease;
}
.navBar button:hover{
    color: #f94148;
}
.profileImg{
    width:15rem;
    height:15rem;
    border: transparent;
    border-radius: 50%;
    overflow: hidden;
    transition: transform .5s ease, box-shadow .5s ease;
}
.profileImg img{
    width: 100%;
    object-fit: cover;
}
.profileImg:hover{
    box-shadow: 0 0 0.5em .5em #f8ff8f;
    transform: translateY(-10px);
}
.profileText{
    margin-left: 10rem;
}
.mastHead_Title{
  color:#fff;
}
.mastHead:before {
    content: "";
    position: absolute;
    inset: 0;
    /* linear-gradient(180deg, rgba(141, 141, 141, 0.8) 0, rgba(184, 184, 184, 0.8) 90%),  */
    background: url(./img/moon.jpg) 50% no-repeat;
    background-size: cover;
    z-index: -1;
}
.mastHead_contents{
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    padding: 8.5rem 1.5rem 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mastHead_divider{
    width: 3.25rem;
    margin: 1.5rem auto;
    opacity: 1;
}
.mastHead_Descript{
    margin: 0 auto 2rem;
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.5;
}
.mastHead_button{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border: none;
    border-radius: 10rem;
    color: #000;
    transition: background-color .2s ease-in-out;
}
.mastHead_button:hover{
    background-color: #000000;
    color:#ffffff;
}
.section{
    background: #fff;
}
.section_title{
    display: table;
    margin: 0 auto 3rem;
}
.section_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5rem;
}
.section_content p{
    color: #000;
    line-height: 1.5;
}
.wrapper{
    width:33.33333%
}
.wrapper-item{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
    width: 100%;
    max-width: 14rem;
    margin: 0 auto;
    opacity: .8;
}
.wrapper .icon{
    position: relative;
    flex-shrink: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: .2rem;
}
.wrapper .icon img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
}
.wrapper .info label{
    margin-bottom: .5rem;
    font-weight: 700;
}
.wrapper .info p{
    font-size: .875rem;
    white-space: pre-wrap;
}
.section h3{
    padding-bottom: 1rem;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #000000;
    font-size: 2.5rem;
}
.content{
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 1.5rem;
    margin: 0 auto;
}
.container{
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    padding: 1.25rem 1.5rem;
}

.container button{
    border:none;
    background: transparent;
    color: #fff;
}
/* about */
.aboutMe h3{
    border-bottom-color: #000000;
}
/* skill */
.skills{
    background-color: #f94148;
}
.skills h3{
    color: #fff;
    border-bottom-color: #ffffff;
}
.skills_all{
    padding: 4rem 1.5rem;
}
.skills_content{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
    background-color: hsla(0, 0%, 100%, .8);
    box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
    border-radius: 1rem;
    transition: transform .5s ease, box-shadow .5s ease;
}
.skills_content:hover{
    box-shadow: 0 0 0.5em .5em #c7c776;
    transform: translateY(-10px);
}
.skills_content img{
    width: 55px;
    height: 55px;
    aspect-ratio: auto 32 / 32;
    transition: transform .5s ease, box-shadow .5s ease;
}
.skills_icon img:hover{
    transform: translateY(-10px);
}
/* archiving */
.archiving{
    background: #000;
}
.archiving h3{
    border-bottom-color: #ffffff;
}
.archiving .section_content{
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.archiving h3{
    color:#fff;
}
.archiving_box{
    width: 26rem;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
    text-decoration: none;
    transition: transform .5s ease, box-shadow .5s ease;
}
.archiving_box:hover{
    box-shadow: 0 0 0.5em .5em #c7c776;
    transform: translateY(-10px);
}
.archiving_box img{
    width: 100%;
    margin-bottom: 1rem;
}
.githubAddress{
    margin-bottom: 1rem;
    color: #258ddb;
}
.btns button{
    border: none;
    width:5rem;
}

/* project */
.project{
    background-color: #2bf8ff;
}
.project h3{
    color: #fff;
    border-bottom-color: #ffffff;
}

.project_content{
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 1.5rem;
    margin: 0 auto;
}

.project_list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.project_detail{
    display: flex;
    flex-direction: column;
    width: calc((100% - 2rem) / 2);
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 .5rem 0 rgba(68, 68, 68, .4);
    border-radius: 1rem;
    transition: transform .5s ease, box-shadow .5s ease;

}
.project_detail:hover{
    box-shadow: 0 0 0.5em .5em #f94148;
    transform: translateY(-10px);
}

.project_period{
    color: #ccc;
    font-family: 'Pretendard-Regular';
}
.project_content h4{
    align-self: flex-start;
    padding: .25rem .75rem;
    background-color: #f94148;
    border-radius: .5rem;
    font-weight: 700;
    color: #fff;
}
.project_summary{
    word-break: keep-all;
}
.project_summary h5{
    font-size: 1em;
}
.project_summary ul{
    list-style: disc;
    padding-left: 1.25rem;
    font-size: .875rem;
}
.project_skills{
    align-self: flex-start;
    padding: .25rem .75rem;
    margin: 1rem 0;
    border: 2px solid #f94148;
    border-radius: .5rem;
    font-size: .875rem;
}

.project_pdf{
    background-color: #258ddb;
    width: 4rem;
    height: 1.6rem;
    text-align: center;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 5px 0;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.project_pdf button{
    background: transparent;
    color:#fff;
    border: none;
    font-size: 0.7rem;
}
.project_pdf:hover {
    background-color: #fff;
    border: 1px solid #258ddb;
}
.project_pdf:hover button{
    color: #258ddb;
}

.project_url{
    background-color: #f94148;
    width: 4rem;
    height: 1.6rem;
    text-align: center;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin: 5px 0;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.project_url a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    transition: color 0.5s ease;
}

.project_url button {
    font-size: 0.8rem;
    border: none;
    background: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.5s ease;
}

.project_url:hover {
    background-color: #fff;
    border: 1px solid #f94148;
}

.project_url:hover button,
.project_url:hover a {
    color: #f94148;
}

.project_readMe{
    background-color: #000000;
    width: 4rem;
    height: 1.6rem;
    text-align: center;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 5px 0;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.project_readMe button{
    color:#fff;
    text-decoration: none;
    background: transparent;
    border: none;
}
.project_readMe:hover {
    background-color: #fff;
    border: 1px solid #000000;
}
.project_readMe:hover button{
    color:#000;
}
/* carrer */
.career{
    background-color: #ffe927;
}
.career h3 {
    border-bottom-color: #000000;
}
.career_company{
    background-color: #f7f7f7;
    border:2px solid #000;
    border-radius: 10px;
    padding:15px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 0 15px;
    transition: transform .5s ease, box-shadow .5s ease;
}
.career_company:hover{
    box-shadow: 0 0 0.5em .5em #000000;
    transform: translateY(-10px);
}

/* modal css */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    background: white;
    border-radius: 8px;
    max-width: 50em;
    width: calc(100% - 40px);
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .modal::-webkit-scrollbar{
    display: none;
  }
  .close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #dee2e6;
  }

  .modal-closeBt{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 10px 10px 10px 20px;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
    font-weight: bold;

  }

  .modalContent{
    padding: 20px;
  }

  
  pre {
    white-space: pre-wrap; /* 줄바꿈 유지 */
  }